@use '../functions/' as *;
@use '../variables/' as var;
@use '../mixin/' as mix;

.el_btn {
  display: inline-block;
  text-decoration: none;
}

.el_basicBtn {
  padding: 0.8em 1.6em;
  border: 2px solid color(--c-accent);
  border-radius: 20px;
  background: color(--c-white);
  color: color(--c-accent);
  font-weight: bold;
  font-size: rem(20px);
  font-family: font-family(font-en);
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.el_iconBtn {
  position: relative;
  padding-left: calc(36px + 1.6em);

  &::before {
    position: absolute;
    top: 50%;
    left: 1.6em;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    content: '';
  }

  &__twitter {
    &::before {
      background: url(#{var.$img-path}twitter.svg) no-repeat center center / contain;
    }
  }

  @include mix.hover() {
  }
}

.el_dialogBtn {
  flex-shrink: 0;
}

.el_inputBtn {
  position: absolute;
  top: 50%;
  right: 0;
  height: 100%;
  padding: 0 1.2em;
  overflow: hidden;
  transform: translateY(-50%);
  border-radius: 0 20px 20px 0;
  background: color(--c-white);
  font-weight: bold;
  font-size: rem(20px);
  font-family: font-family(font-en);

  &::before {
    z-index: -1;
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    transform-origin: right top;
    background: color(--c-accent, 0.4);
    content: '';
    transition: transform 0.4s ease-in-out;
  }

  @include mix.hover() {
    &::before {
      transform: translateX(0);
      transform-origin: left top;
    }
  }
}

.el_copyBtn {
  + span {
    display: block;
    visibility: hidden;
    position: absolute;
    top: -40%;
    right: 37px;
    opacity: 0;
    transition: visibility 0.3s ease-out, opacity 0.3s ease-out;

    &::before,
    &::after {
      display: inline-block;
      left: 50%;
      transform: translateX(-50%);
    }

    &::before {
      position: absolute;
      top: -40%;
      padding: 0.25em 0.75em;
      border-radius: 10px;
      background: color(--c-base);
      content: 'Copied!';
      color: color(--c-white);
      font-weight: 500;
      font-size: rem(16px);
    }

    &::after {
      position: absolute;
      top: 32px;
      width: 0;
      height: 0;
      border-width: 12px 12px 0 12px;
      border-style: solid;
      border-color: color(--c-base) transparent transparent transparent;
      content: '';
    }
  }
  &.is_display {
    + span {
      visibility: visible;
      opacity: 1;
    }
  }
}

.el_closeBtn {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: 1.5em;
  margin-left: auto;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    transform: translate(-50%, -50%);
    border: 2px solid color(--c-accent);
    border-radius: 50%;
    content: '';
  }

  > span {
    display: inline-block;
    position: absolute;
    top: 36%;
    left: 48%;
    width: 2px;
    height: 12px;
    background: color(--c-accent);

    &:nth-of-type(1) {
      transform: rotate(45deg);
    }

    &:nth-of-type(2) {
      transform: rotate(-45deg);
    }
  }
}

.el_hoverBtn_bounding {
  @include mix.hover() {
    animation: bounding 0.4s ease-in-out;
  }
}

@keyframes bounding {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
