@use '../functions/' as *;
@use '../variables/' as var;

.el_btn {
  display: inline-block;
  text-decoration: none;
}

.el_basicBtn {
  padding: 0.8em 1.6em;
  border: 2px solid color(--c-accent);
  border-radius: 20px;
  background: color(--c-white);
  color: color(--c-accent);
  font-weight: bold;
  font-size: rem(20px);
  font-family: font-family(font-en);
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.el_iconBtn {
  position: relative;
  padding-left: calc(36px + 1.6em);

  &::before {
    position: absolute;
    top: 50%;
    left: 1.6em;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    content: '';
  }

  &__twitter {
    &::before {
      background: url(#{var.$img-path}twitter.svg) no-repeat center center / contain;
    }
  }
}

.el_inputBtn {
  position: absolute;
  top: 50%;
  right: 0;
  height: 100%;
  padding: 0 1.2em;
  transform: translateY(-50%);
  border-radius: 0 20px 20px 0;
  background: color(--c-white);
  font-weight: bold;
  font-size: rem(20px);
  font-family: font-family(font-en);
}

.el_copyBtn {
  &::before,
  &::after {
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }

  &::before {
    position: absolute;
    top: -40%;
    padding: 0.25em 0.75em;
    border-radius: 10px;
    background: color(--c-base);
    content: 'Copied!';
    color: color(--c-white);
    font-weight: 500;
    font-size: rem(16px);
  }

  &::after {
    display: inline-block;
    position: absolute;
    top: 5%;
    width: 0;
    height: 0;
    border-width: 12px 12px 0 12px;
    border-style: solid;
    border-color: color(--c-base) transparent transparent transparent;
    content: '';
  }

  &.is_display {
    &::before,
    &::after {
      opacity: 1;
    }
  }
}

.el_closeBtn {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: 1.5em;
  margin-left: auto;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    transform: translate(-50%, -50%);
    border: 2px solid color(--c-accent);
    border-radius: 50%;
    content: '';
  }

  > span {
    display: inline-block;
    position: absolute;
    top: 36%;
    left: 48%;
    width: 2px;
    height: 12px;
    background: color(--c-accent);

    &:nth-of-type(1) {
      transform: rotate(45deg);
    }

    &:nth-of-type(2) {
      transform: rotate(-45deg);
    }
  }
}
