@use '../functions/' as *;
@use '../variables/' as var;

.el_title {
  font-weight: bold;
  font-size: var.$headingLv1;
  font-family: font-family(font-en);
  letter-spacing: 0.05em;
}

.el_sectionTitle {
  @extend .el_title;
  display: inline;
  flex-shrink: 0;
  color: color(--c-white);
  font-size: var.$headingLv2;

  > span {
    font-weight: bold;
    font-size: 0.8em;
  }
}
