@use '../functions/' as *;
@use '../mixin/' as mix;

.bl_dialogContents {
  visibility: hidden;
  z-index: 10;
  position: absolute;
  top: 80px;
  padding: 0 2.5em 3.5em;
  border-radius: 20px;
  background: color(--c-bg-contents, 0.9);
  opacity: 0;
  transition: visibility 0.4s ease-out, opacity 0.4s ease-out;

  &[open='true'] {
    visibility: visible;
    opacity: 1;
  }
}

.bl_dialog_generateStep {
  list-style-type: none;
  counter-reset: item;

  > li {
    position: relative;
    margin: 3.5em 0 0.75em;
    padding: 0.75em 0 0.75em 3.5em;

    &:first-of-type {
      margin-top: 1em;
    }

    @include mix.mq(lg) {
      font-size: rem(18px);
    }

    &::before {
      position: absolute;
      top: -2em;
      left: 0;
      content: 'STEP' counter(item);
      font-weight: bold;
      font-size: rem(20px);
      font-family: font-family(font-en);
      counter-increment: item;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 1.5em;
      width: 2px;
      height: 100%;
      transform: translateY(-50%);
      background: color(--c-text);
      content: '';
    }
  }
}

.bl_dialog_message {
  font-weight: bold;
  font-size: rem(20px);
  font-family: font-family(font-en);
}
