@use '../functions/' as *;
@use '../variables/' as var;

.bl_generate {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.bl_generate_contents {
  position: relative;

  &:nth-of-type(odd) {
    &::before {
      position: absolute;
      bottom: -48px;
      left: 50%;
      width: 24px;
      height: 24px;
      transform: translateX(-50%);
      background: url(#{var.$img-path}triangle.svg) no-repeat center center / contain;
      content: '';
    }
  }
}

.bl_generate_inputWrap {
  position: relative;

  &:nth-of-type(even) {
    &::before {
      position: absolute;
      top: -48px;
      left: 50%;
      width: 20px;
      height: 20px;
      transform: translateX(-50%);
      background: url(#{var.$img-path}triangle.svg) no-repeat center center / contain;
      content: '';
    }
  }
}

.bl_generate_input {
  width: 100%;
  padding: 20px 24px;
  border-radius: 20px;
  background: color(--c-white);
  font-family: font-family(font-en);

  &::placeholder {
    color: color(--c-gray);
    font-weight: bold;
  }
}

.bl_generate_errorMsg {
  display: none;
  padding: 0.5em;
  font-weight: bold;

  &.is_display {
    display: block;
  }
}
