// max-width
// --------------------------------------------------------------------------
$max-width: 1280px;

// font
// --------------------------------------------------------------------------
$headingLv1: 32px;
$headingLv2: 24px;
$headingLv3: 20px;
