// max-width
// --------------------------------------------------------------------------
$max-width: 1280px;

// font
// --------------------------------------------------------------------------
// lv1
$headingLv1: 32px;

// lv2
$headingLv2: 24px;

// lv3
$headingLv3: 20px;
