@use '../mixin/' as mix;

.ly_footer {
  display: flex;
  row-gap: 40px;
  grid-row: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include mix.mq(lg) {
    flex-direction: row;
  }
}

.ly_footer_contents {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 1em;

  @include mix.mq(lg) {
    margin-left: 24px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
}
