@use '../mixin/' as mix;

.ly_main {
  display: grid;
  position: relative;
  row-gap: 64px;

  @include mix.mq(sm) {
    padding: 0 3.75vw;
  }

  @include mix.mq(lg) {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5.41vw;
    row-gap: 100px;
  }
}
